# Zadanie 3

Napisz funkcję `usd_to_pln(usd)`, która przyjmie jeden argument: kwotę w dolarach (typu `int` lub `float`) oraz zwróci kwotę w złotówkach.

Użyj przelicznika `$1 = 3.75zł`.

In [4]:
# Tutaj napisz funkcję "usd_to_pln"
def usd_to_pln(usd):
    if isinstance(usd, (int, float)):
        return usd*3.75
    
def usd_to_pln_2(usd):
    if isinstance(usd, (int, float)):
        return usd*3.75
    raise ValueError("Usd musi by intem lub floate")
    
def usd_to_pln_3(usd):
    return usd*3.75
print(usd_to_pln(4))

15.0

In [30]:
usd_to_pln("a")

In [22]:
"abc"*5

'abcabcabcabcabc'

In [3]:
print('$100 =', usd_to_pln(100), 'zł (oczekiwany wynik to 375.0 zł)')
print('$1.55 =', usd_to_pln(1.55), 'zł (oczekiwany wynik to 5.8125 zł)')
print('$4 - 2zł =', usd_to_pln(4) - 2, 'zł (oczekiwany wynik to 13 zł)')

$100 = 375.0 zł (oczekiwany wynik to 375.0 zł)
$1.55 = 5.8125 zł (oczekiwany wynik to 5.8125 zł)
$4 - 2zł = 13.0 zł (oczekiwany wynik to 13 zł)

In [5]:
zmienna = 3
zmienna2 = 3.25
zmienna3 = "ala ma różowego kota"

In [13]:
isinstance(zmienna, (float, int))

True